/* Colors  #002C61 #00E1CD #4654D5 #AAB2BD */ 

.header{
    width: 100%;
    position: fixed;
    z-index: 99999;
    top: 0;

    background-color: #FFF;
    box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.226);

}

.header .conteiner{
    width: 70%;
    margin: 0px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .conteiner .logo{
    width: 180px;
    padding: 10px 0px;
}

.header .conteiner .logo img {
    width: 100%;
}

.header .conteiner .nav-bar nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .conteiner .nav-bar nav ul li{
    list-style: none;
    margin: 0px 5px;
}

.header .conteiner .nav-bar nav ul li a{
    color: #002C61;
    text-decoration: none;
    padding: 2px 5px;

    
    transition: 0.3s linear;
}

.header .conteiner .nav-bar nav ul li a:hover{
    color: #00E1CD;
    transition: 0.3s linear;
    font-size: 20px;

    
}

.header .conteiner .nav-bar nav ul li .destaque{
    color: #00E1CD;
    font-size: 20px;
}

.header .conteiner .nav-bar .redes-header-mobile{
    display: none;
}

.header .conteiner .redes-header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .conteiner .redes-header ul li{
    list-style: none;
    
}

.header .conteiner .redes-header ul li a{
    color: #002C61;
    text-decoration: none;
    padding: 2px 5px;
    transition: 0.3s linear;
    font-size: 20px;
    
}
.header .conteiner .redes-header ul li a:hover{
    color: #00E1CD;
    font-size: 24px;
    transition: 0.3s linear;
    
}

.banner{
    width: 100%;


    height: 760px;
    position: relative;
    overflow: hidden;
    background-image: url(../img/banner_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.banner .conteiner {
    width: 70%;
    margin: 180px auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .conteiner .foto{
    width: 650px;
}

.banner .conteiner .foto img{
    width: 650px;
    height: 530px;
}

.banner .conteiner .text img{
    width: 180px;
    margin: 10px 0px;
    display: block;
}

.banner .conteiner .text sub{
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
    color: #242429;
    margin-bottom: 0;
    
}

.banner .conteiner .text p{
    font-size: 15px;
    line-height: 30px;
    
    color: #242429;
    padding-right: 20px;
}

.banner .conteiner .text .button{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.banner .conteiner .text .button a{
    border: 1px solid #002C61;
    background-color: #002C61;
    border-radius: 10px;
    margin: 10px 5px;
    transition: 0.3s linear;
   
}

.banner .conteiner .text .button a:hover{
    background-color: #00E1CD;
    transition: 0.3s linear;
}

.banner .conteiner .text .button img{
    width: 120px;
    margin: 15px 20px;
}

.sobre-home{
    width: 100%;
    position: relative;
    z-index: 99;
    background-image: url(../img/about_bg.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 50% 90%;
}

.sobre-home .conteiner{
    width: 60%;
    margin: 0px auto;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-home .conteiner .foto{
    width: 530px;
}

.sobre-home .conteiner .foto img{
    width: 530px;
    height: 530px;
}

.sobre-home .conteiner .text{
    padding-left: 60px;
}

.sobre-home .conteiner .text h1{
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 24px;
    position: relative;
    color: #002862;
}

.sobre-home .conteiner .text p{
    line-height: 1.929;
    margin-bottom: 35px;
    color: #909090;
}


.sobre-home .conteiner .text .button{
    margin-top: 20px;
    
}

.sobre-home .conteiner .text .button a{
    text-decoration: none;
    color: #FFF;
    padding: 16px 45px;
    border-radius: 3px;
    background-color: #002C61;
    transition: 0.3s linear;
}

.sobre-home .conteiner .text .button a:hover{
    background-color: #00E1CD;
    transition: 0.3s linear;
}

.sobre-home .conteiner .text .icones{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 80px;
}

.sobre-home .conteiner .text .icones .icon-destaque{
    border-right: 1px solid #002c6193;
    border-left: 1px solid #002c6167;
}

.sobre-home .conteiner .text .icones .icon img{
    width: 80px;
    margin: 0px 50px;
}

.sobre-home .conteiner .text .icones .icon{
    text-align: center;
}

.sobre-home .conteiner .text .icones .icon p{
    color: #002C61;
}


.como-funciona{
    width: 100%;
    padding: 115px 0px;

    margin-bottom: 250px;
}

.como-funciona .conteiner{
    width: 70%;
    margin: 0px auto;
}

.como-funciona .conteiner .title{
    text-align: center;
}

.como-funciona .conteiner .title h1{
    color: #002C61;
    text-transform: capitalize;
    font-size: 48px;
}

.como-funciona .conteiner .content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.como-funciona .conteiner .content .coluna-centro {
    margin: 0px 30px;
}

.como-funciona .conteiner .content .coluna-centro .imagen-centro{
    width: 360px;
    margin-top: 50px ;
}

.como-funciona .conteiner .content .coluna-centro .imagen-centro img{
    width: 360px;
    height: 360px;
}



.como-funciona .conteiner .content .coluna-1 .etapa{
    margin-top: 50px;
    width: 350px;
}
.como-funciona .conteiner .content .coluna-1 .etapa{
    line-height: 24px;
}

.como-funciona .conteiner .content .coluna-1 .etapa .title{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    text-align: center;
}

.como-funciona .conteiner .content .coluna-1 .etapa .title h4{
    font-size: 19px;
    text-align: left;
}

.como-funciona .conteiner .content .coluna-1 .etapa .title img{
    width: 60px;
    height: 60px;

    margin-right: 30px;
}


.beneficios{
    width: 100%;
    margin-top: 150px;

   position: relative;
}

.beneficios .bg{
    width: 100%;
    margin-top: 130px;
}


.beneficios .conteiner{
    width: 80%;
    margin: 0px auto;
    position: absolute;
    top: -50%;
    left: 10%;
}

.beneficios .conteiner .title h1{
    font-size: 48px;
    color: #002C61;
    font-weight: 900;
    text-transform: capitalize;
    text-align: center;
}

.beneficios .conteiner .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin: 0px auto;
    background-color: #FFF;
    max-width: 1152px;
    padding: 60px 0px;

    box-shadow: 0px 30px 10px 0px #0027624b;
}

.beneficios .conteiner .content .box{
    width: 360px;
    max-width: 360px;
    border: 1px solid #00E1CD;
    text-align: center;

    position: relative;

    margin: 20px 10px;

    transition:  0.3s linear;

    min-width: 360px;
    max-width: 360px;

    min-height: 250px;
    max-height: 250px;
}

.beneficios .conteiner .content .box:hover{
    background-color: #00E1CD;
    transition:  0.3s linear;
}

.beneficios .conteiner .content .box h3{
    color: #002C61;
    font-size: 23px;
    padding: 30px 0px;
}

.beneficios .conteiner .content .box p{
    padding: 10px 30px;
    line-height: 24px;
}


.beneficios .conteiner .content .box span{
    position: absolute;
    top: -15%;
    left: 42%;

    z-index: 0;
}

.beneficios .conteiner .content .box span img{
    width: 60px;
    height: 60px;
    border-radius: 10px;
}


.planos-home{
    width: 100%;
    padding-top: 20px;
}

.planos-home .conteiner{
    width: 92%;
    margin: 0px auto;
}

.planos-home .conteiner .title{
    text-align: left;
    width: 80%;
    margin: 0px auto;
}

.planos-home .conteiner .title h1{
    color: #002C61;
    font-size: 48px;
    text-transform: capitalize;
    text-align: center;
}

.planos-home .conteiner .title .barra-1{
    margin: 10px auto;  
}

.planos-home .conteiner .title p{
    padding: 20px 0px;
}

.planos-home .conteiner .obs{
    text-align: left;
    margin-top: 60px;
    font-weight: 600;
    color: #002C61;
    padding: 10px 0px;
    width: 80%;
    margin: 0px auto;
}

.planos-home .conteiner .content-slider .plano-box{
    background-color: #002C61;
    padding: 10px 15px;
    margin: 10px 5px;
    border-radius: 5px;

    min-width: 350px;
    
    min-height: 490px;
}
.planos-home .conteiner .content-slider .plano-box .title{
    margin-bottom: 10px;
}

.planos-home .conteiner .content-slider .plano-box .title h2{
    color: #00E1CD;
    font-size: 28px;
    text-align: center;
}
.planos-home .conteiner .content-slider .plano-box .infos-planos{
    border-top: 1px solid #00E1CD;
    padding: 15px 0px;
}
.planos-home .conteiner .content-slider .plano-box .infos-planos ul li{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2px 0px;
    color: #FFF;
}

.planos-home .conteiner .content-slider .plano-box .infos-planos ul .cinza{
    color: #2E527C;
}
.planos-home .conteiner .content-slider .plano-box .infos-planos ul li img{
    width: 30px;
    margin-right: 5px;
}

.planos-home .conteiner .content-slider .plano-box .valores{
    text-align: center;
    border-top: 1px solid #00E1CD;
    padding: 10px 0px;
}

.planos-home .conteiner .content-slider .plano-box .valores h4{
    text-transform: uppercase;
    color: #FFF;
}

.planos-home .conteiner .content-slider .plano-box .valores p{
    color: #FFF;
    text-transform: uppercase;
}

.planos-home .conteiner .content-slider .plano-box .valores .valor-individual{
    color: #00E1CD;
}

.planos-home .conteiner .content-slider .plano-box .valores .valor-individual strong{
    font-size: 20px;
    
}

.planos-home .conteiner .content-slider .plano-box .valores h4 span{
    font-weight: 500;
}

.planos-home .conteiner .content-slider .plano-box .valores a{
    background-color: #FFF;
    color: #002C61;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 5px;
    transition: 0.3s linear;
}

.planos-home .conteiner .content-slider .plano-box .valores a:hover{
    background-color: #00E1CD;
    transition: 0.3s linear;
    color: #FFF;
}

.planos-home .conteiner .content-slider .plano-box .valores .valor-familia{
    color: #00E1CD;
    font-size: 18px;
    margin-bottom: 13px;
}

.planos-home .conteiner .content-slider .plano-box .valores .valor-familia strong{
    font-size: 24px;
}

/*//gerais*/
.title h1 {
    color: #002C61;
    font-size: 48px;
    text-transform: capitalize;
    text-align: center;
}
/*//end gerais*/

/*como funciona*/
.como-funciona {
    margin-bottom: 0;
}
/*end como funciona*/

/*//beneficios*/
.beneficios-aj {
    background: url(../img/bg-qtm.jpg) center center no-repeat;
    margin-bottom: 100px;
}
.beneficios-aj .content {
    display: grid;
    grid-gap: 60px 30px;  
    grid-template-columns: 360px 360px;
    grid-auto-rows: 260px;
    justify-items: center;
    justify-content: center;
    align-content: center;
    
    margin: 0px auto;
    background-color: #FFF;
    padding: 60px 0;
    max-width: 1152px;
    box-shadow: 0px 30px 10px 0px #0027624b;
}
.beneficios-aj .content .box {
    border: 1px solid #00E1CD;
    text-align: center;    
    transition: 0.3s;
    position: relative;
}
.beneficios-aj .content .box img {
    position: absolute;
    height: auto;
    width: 80px;
    margin: -40px auto 0;    
    left: 0;
    right: 0;
    z-index: 2;
}
.beneficios-aj .content .box h3:before {
    content: '';
    width: 80px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: -1px;
    left: 136px;
    right: 0;
    transition: 0.3s;
}
.beneficios-aj .content .box h3 {
    color: #002C61;
    font-size: 23px;
    padding: 50px 0px 10px;
}
.beneficios-aj .content .box p {
    padding: 10px 30px;
    line-height: 24px;
}
.beneficios-aj .content .box:hover,
.beneficios-aj .content .box:hover h3:before {
    background: #00E1CD;
    transition: 0.3s;
}
/*//end beneficios*/

/*//new plano-box*/
.plano-box {
    min-height: 420px !important;
    padding: 2.0rem 1.0rem !important;
    margin-top: 1.0rem !important;
    margin-bottom: 4.0rem !important;
}
.plano-box .infos-planos ul li {
    margin: 8px 0 !important;
}
.plano-box .valores {
    display: flex;
    justify-content: space-around;   
    flex-wrap: wrap; 
}
.plano-box .valores .plan {
    padding: 0.5rem;    
}
.plano-box .valores h4 {
    font-size: 0.9rem; 
    height: 30px;    
}
.plano-box .valores h4 span {
    display: block;
    font-size: 0.7rem; 
}
.plano-box .valores p {
    display: block;
    font-size: 1.2rem !important;
    margin-bottom: 13px;
    padding: 0.3rem; 
}
.plano-box .valores p strong {
    font-size: 24px !important;
}
.plano-box .valores a {
    cursor: pointer !important;
}
.plano-box:hover {
    background: #5c69d9 !important;    
    transition: 0.3s;

    box-shadow: 0px 11px 13px -4px rgba(0,0,0,0.32);
    -webkit-box-shadow: 0px 11px 13px -4px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 11px 13px -4px rgba(0,0,0,0.32);
}
.plano-box:hover .title h2,
.plano-box:hover .infos-planos,
.plano-box:hover .valores {
    color: #ffffff !important;
    border-color: #ffffff !important;

    transition: 0.3s;
}

.slick-dots {
    list-style: none;
    margin: 0 0 1.0rem 0; 
    padding: 0;
    width: 100%;
    text-align: center;
}
.slick-dots li {
    display: inline-block;
    margin: 0.3rem;
}
.slick-dots li button {
    width: 20px;
    height: 20px;    
    border: 0;

    background: #28e1cd;

    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.slick-dots li.slick-active button {
    background: #002C61;
    color: #ffffff;
}

@media (max-width: 768px) {
    .title h1 {
        font-size: 28px !important;
    }
    .menu-toggle {
        margin-top: 0 !important;
    }
    .header .conteiner .logo img {
        width: auto;
        height: 36px;
    }
    /*//banner*/
    .banner .conteiner .text img {
        display: none;
    }
    .banner .conteiner .text .button {
        justify-content: space-between !important;
    }
    .banner .conteiner .text .button img {
        display: block;
        margin-top: 0.8rem;
    }
    .banner .conteiner .text p {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 1.0rem;
        line-height: 1.4rem;
    }
    .banner .conteiner {
        margin: 30px auto 50px;
    }
    /*//planos*/
    .planos-home {
        padding-bottom: 30px;
    }
    .planos-home .conteiner .title {
        width: 100%;
    }
    .planos-home .conteiner .title .barra-1 {
        display: none;
    }
    .plano-box {   
        min-width: 320px !important;  
        padding-bottom: 1.0rem !important;
        margin: 10px 2px 0 !important;
    }
    .plano-box .plan:nth-child(2){
        margin-top: 1.5rem !important;
    }
    /*//end planos*/
    /*//sobre*/
    .sobre-home .conteiner .text .icones {
        justify-content: space-between;
    }
    .sobre-home .conteiner .text h1 {
        font-weight: bold;
        margin-bottom: 11px;
        font-size: 28px;
    }
    .sobre-home .conteiner .text p {
        font-size: 1.0rem;
        line-height: 1.4rem;
    }
    /*//end sobre*/
    /*//como-funciona*/
    .como-funciona .conteiner .content .coluna-1 .etapa .title img {
        margin-right: 0;
    }
    .como-funciona .conteiner .content .coluna-1 .etapa .title {
        flex-direction: column;
    }
    .como-funciona .conteiner .content .coluna-1 .etapa .title h4 {
        font-size: 16px;
        text-align: center;
    }
    .como-funciona .conteiner .content .coluna-1 .etapa p {
        font-size: 1.0rem;
        line-height: 1.4rem;
        text-align: center;
    }
    /*//end como-funciona*/
    /*//beneficios*/
    .beneficios-aj {
        margin: 50px 0;
        background-position: 0 140px;         
    }
    .beneficios-aj .content {
        grid-template-columns: 290px;        
        grid-auto-rows: 290px;
        max-width: 310px;
    }
    .beneficios-aj .content .box img {
        width: 60px;
    }
    .beneficios-aj .content .box h3 {
        font-size: 18px;
        padding-top: 40px;
    }
    .beneficios-aj .content .box h3:before {
        left: 111px;
    }
    .beneficios-aj .content .box p {
        font-size: 1.0rem;
        line-height: 1.4rem;
    }
    /*//end beneficios*/

    /*//farmacias*/
    .farmacias {
        margin-bottom: 50px !important;
    }    
    .farmacias h1 span {
        display: block;
    }
    .farmacias .slider img {
        width: 110px !important;
        padding: 10px !important;
    }

    /*//contato-home*/
    .contato-home {
        padding-top: 10px !important;
    }
    .contato-home .conteiner .content {
        flex-direction: column-reverse;
    }

    /*//footer*/
    .footer .logo img {
        display: none;
    }
    .footer .links {
        padding: 10px 0 !important;
    }
    .footer .links ul li {
        display: inline-block !important;
        margin: 0.2rem !important;
    }
    .footer .links ul li a {
        font-size: 0.8rem;
    }
    .footer .contato p,
    .footer .made-by p{
        font-size: 0.8rem;
    }
}
/*//end new plano-box*/

.slick-prev{
	width: 50px;
	height: 150px;
	background-color: #00E1CD;
	color: #FFF;
	position: absolute;
	left: -4%;
	top: 35%;
	border: none;
    z-index: 5;
    border-radius: 10px;
    font-size: 30px;
    transition: 0.3s linear;

    outline: none;
}


.slick-next{
	width: 50px;
	height: 150px;
	background-color: #00E1CD;
	color: #FFF;
	position: absolute;
	right: -4%;
	top: 35%;
	border: none;
    z-index: 5;
    border-radius: 10px;
    font-size: 30px;
    transition: 0.3s linear;

    outline: none;
}

.slick-next:hover, .slick-prev:hover{
    background-color: #002C61;
    color: #FFF;
    transition: 0.3s linear;
}


@media (max-width: 800px){
    .planos-home .conteiner .content-slider .plano-box{
        margin: 10px 100px;
    }
}

@media (max-width: 616px){
    .planos-home .conteiner .content-slider .plano-box{
        margin: 10px 50px;
    }

    
}

@media (max-width: 505px){
    .planos-home .conteiner .content-slider .plano-box{
        margin: 10px 20px;
    }

    .slick-next, .slick-prev{
        width: 30px;
        height: 100px;
        font-size: 20px;
    }
}

@media (max-width: 434px){
    .slick-next, .slick-prev{
        display: none;
    }

    .planos-home .conteiner .content-slider .plano-box{
        margin: 10px auto;

        min-width: 280px;
    }

    
}







.depoimentos{
    background-image: linear-gradient(to bottom, rgba(0,44,97,0.88) 0%, rgba(0,44,97,0.88) 100%), url(../img/$cfio1k1mcsn.png);
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-bottom-style: none;
    border-color: #BBBBBB;
    border-left-style: none;
    border-radius: 0px;
    border-right-style: none;
    border-top-style: none;
    border-width: 0px;

    margin-top: 100px;

    display: none;
}

.depoimentos .conteiner{
    width: 70%;
    margin: 0px auto;
}

.depoimentos .conteiner .title h1{
    color: #fff;
    font-size: 48px;
    text-transform: capitalize;

    padding: 30px 0px;
}

.depoimentos .conteiner .title p{
    margin-top: 20px;
    color: #FFF;
}

.depoimentos .conteiner .content{
    padding: 30px 0px;
}


.depoimentos .conteiner .content .slider-depoimentos div img{
    width: 130px;
    height: 130px;
    border-radius: 50%;

    margin: 0px auto;
}

.depoimentos .conteiner .content .slider-depoimentos div{
    text-align: center;
}

.depoimentos .conteiner .content .slider-depoimentos div h3{
    color: #00E1CD;
    padding: 20px 0px;
}

.depoimentos .conteiner .content .slider-depoimentos div p{
    color: #FFF;

    margin: 0px auto;
    max-width: 600px;
}





.contato-home{
    width: 100%;
    background-color: #f0f0f0;
    padding-top: 100px;
}

.contato-home .conteiner{
    width: 70%;
    margin: 0px auto;
    padding: 30px 0px;
}

.contato-home .conteiner .title h1{
    font-size: 28px;
    color: #002C61;
    text-transform: capitalize;
    text-align: left;
}

.contato-home .conteiner .content{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0px;
}
.contato-home .conteiner .content .foto{
    width: 360px;
}

.contato-home .conteiner .content .foto img{
    width: 360px;
    height: 500px;
}

.contato-home .conteiner .content form .inputs{
    width: 100%;
}
.contato-home .conteiner .content form .inputs input{

    outline: none;
    border: 1px solid #002862;

    color: #002862 !important;
    border-radius: 0px;
    font-size: 14px;
    
    margin-bottom: 20px;
    padding: 15px;
}

.contato-home .conteiner .content form .assunto{
    width: 100%;
}
.contato-home .conteiner .content form .assunto input{
    width: 100%;

    outline: none;
    border: 1px solid #002862;

    color: #002862 !important;
    border-radius: 0px;
    font-size: 14px;
    
    margin-bottom: 20px;
    padding: 15px;
}

.contato-home .conteiner .content form .mensagem{
    width: 100%;
}

.contato-home .conteiner .content form .mensagem textarea{
    width: 100%;

    outline: none;
    border: 1px solid #002862;

    color: #002862 !important;
    border-radius: 0px;
    font-size: 14px;
    
    margin-bottom: 4px;
    padding: 15px;

    max-width: 600px;
    min-width: 100%;

    max-height: 195px;
    min-height: 195px;
}

.contato-home .conteiner .content  form .button{
    display: flex;
    justify-content: start;
    align-items: center;
}

.contato-home .conteiner .content  form .button input{
    border: none;
    border-radius: 5px;
    background-color: #002862;
    color: #FFF;
    padding: 10px 20px;
    transition: 0.3s linear;
}

.contato-home .conteiner .content  form .button input:hover{
    background-color: #00E1CD;
    transition: 0.3s linear;
}



.farmacias{
    margin: 20px 0px 100px 0px;
}

.farmacias h2{
    text-align: center;
    color: #002862;
    text-transform: capitalize;
    font-size: 30px;
    padding: 20px;
}


.farmacias .slider{
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;

}

.farmacias .slider img{
    width: 200px;
    height: auto;
    border-radius: 50px;
    padding: 30px;
    
}

.farmacias .slider div
{
    outline: none;
}

.farmacias .button{
    text-align: center;
    margin: 15px 0px;

    
}

.farmacias .button .botao a{
    padding: 15px 30px;
}

.farmacias .button .botao{
    text-decoration: none;
}


.farmacias .button .botao p{
    background-color: #002C61;
    color: #FFF;
    text-transform: uppercase;
    border-radius: 10px;
    width: 500px;
    margin: 0px auto;
    padding: 10px 30px;
    text-decoration: none;
    border: 1px solid #002C61;
    cursor: pointer;
}


.farmacias .button .botao p:hover{
    background-color: #00E1CD;
    border: 1px solid #00E1CD;
    color: #fff;
    transition: 0.3s linear;
}









.footer{
    width: 100%;
    background-color: #FFF;
}

.footer .conteiner{
    width: 80%;
    margin: 0px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0px;
}

.footer .conteiner .logo{
    width: 300px;
}

.footer .conteiner .logo img{
    width: 160px;
}

.footer .conteiner .logo .redes{
    margin-top: 20px;
}

.footer .conteiner .logo .redes i{
    color: #002C61;
    font-size: 20px;
    margin: 0px 12px;
}

.footer .conteiner .links ul li{
    list-style: none;
    margin: 8px 0px;
}
.footer .conteiner .links ul li a{
    color: #002C61;
    text-decoration: none;
    transition: 0.3s linear;
    padding: 5px 0px;
}

.footer .conteiner .links ul li a:hover{
    color: #00E1CD;
    transition: 0.3s linear;
}

.footer .conteiner .contato {
    color: #002C61;
    text-align: center;
}

.footer .conteiner .download-footer{
    width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer .conteiner .download-footer a{

    padding: 5px 0px;
    margin: 2px 0px;
    border-radius: 10px;
    transition: 0.3s linear;
}

.footer .conteiner .download-footer a:hover{
    background-color: #00E1CD;
    transition: 0.3s linear;
}

.footer .conteiner .download-footer a img{
    width: 120px;
    margin: 8px 10px;
}

.footer .made-by{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;

    border-top: 1px solid #002C61;
}

.footer .made-by p{
    color: #002C61;
    margin: 0px 25px;
}





/* Pagina Sobre */


.banner-interno{
    width: 100%;
    margin-top: 82px;
    height: 300px;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0,44,97,0.88) 0%, rgba(0,44,97,0.88) 100%), url(../img/$cfio1k1mcsn.png);
}

.banner-interno .conteiner{
    width: 100%;
    margin: 0px auto;

    position: absolute;
    top: 40%;
    left: 0%;

}


.banner-interno .conteiner h1{
    text-align: center;
    color: #FFF;
    text-transform: capitalize;
    font-size: 40px;
}

.sobre-sobre{
    margin: 30px 0px 50px 0px;
}


.sobre{
    width: 100%;
    margin: 30px 0px;
}

.sobre .conteiner{
    width: 80%;
    margin: 0px auto;
}

.sobre .conteiner .title{
    text-align: left;
    padding: 20px 0px;
}

.sobre .conteiner .title h1{
    color: #002C61;
    text-transform: capitalize;
    font-size: 25px;
}

.sobre .conteiner .content h2{
    color: #002C61;
    text-transform: capitalize;
    font-size: 19px;
    padding: 20px 0px;
}

.sobre .conteiner .content strong{
    color: #002C61;
    padding: 20px 0px;
}

.farmacias-sobre{
    margin: 50px 0px 100px 0px;
}




.como-funciona-page{
    margin: 0px;
    padding: 80px 0px;
}

.depoimentos-como{
    margin-top: 0px;
}


.download{
    width: 100%;
    padding: 50px 0px;

    background-color: #FFF;
}

.download .conteiner{
    width: 80%;
    margin: 0px auto;

    display: flex;
    justify-content: center;
    align-items: center;
}


.download .conteiner .content .title h2{
    color: #002C61;
    padding: 10px 0px;
}

.download .conteiner .foto{
    width: 500px;
    margin-left: 30px;
}

.download .conteiner .foto img{
    width: 500px;
    margin-left: 100px;
}

.download .conteiner .content{
    padding: 0px 0px 30px 0px;
}

.download .conteiner .content .buttons{
    padding: 20px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.download .conteiner .content .buttons a{
    padding: 5px 0px;
    border: 1px solid #00E1CD;
    background-color: #00E1CD;
    margin: 10px 0px;
    border-radius: 10px;
    transition: 0.3s linear;
}

.download .conteiner .content .buttons a:hover{
    background-color: #FFF;
    transition: 0.3s linear;
}

.download .conteiner .content .buttons a img{
    width: 180px;
    padding: 10px 15px;
    transition: 0.3s linear;

}


.beneficios-planos{
    margin-top: 360px;
}

.beneficios-planos .conteiner .title p{
    text-align: center;
}