@media (max-width: 1427px){
    .beneficios .conteiner{
        width: 90%;
        left: 3%;
    }
}

@media (max-width: 1423px){
    .planos-home .conteiner .content, .content-2{
        justify-content: center;
    }
}

@media (max-width: 1322px){
    .contato-home .conteiner .content form .inputs input{
        width: 100%;
    }
}

@media (max-width: 1267px){

    .como-funciona{
        margin-bottom: 0px;
        padding: 100px 0px 0px 0px;
    }

    .beneficios{
        background-image: url(../img/imagens\ site-10.png);
        padding: 40px 0px;

        margin-bottom: 70px;
    }
    .beneficios .bg{
        display: none;
    }

    .beneficios .conteiner{
        position: relative;
    }

    .beneficios .conteiner{
        width: 90%;
        margin: 0px auto;

        top: 0;
        left: 0;

        
        
    }

    .banner .conteiner .text img{
        margin: 10px auto;
    }

    .beneficios .conteiner .content{
        box-shadow: none;
    }

    .beneficios .conteiner .content .box{
        max-height: none;
        height: auto;
    }

    .beneficios .conteiner .title h1{
        padding: 20px 0px;
    }
}

@media (max-width: 1129px){
    .banner .conteiner{
        display: flex;
        flex-direction: column-reverse;

    }

    .banner{
        height: auto;
    }

    .banner .conteiner .foto{
        margin-top: 40px;
        width: auto;
    }

    .banner .conteiner .text .button{
        justify-content: center;
    }


    .sobre-home .conteiner{
        flex-wrap: wrap;
    }

    .sobre-home .conteiner .text .button{
        text-align: center;
    }

    .como-funciona .conteiner .content{
        flex-wrap: wrap;
    }

    .como-funciona .conteiner .content .coluna-1 .etapa{
        width: auto;
    }
}

@media (max-width: 1024px){
    .footer .conteiner{
        flex-wrap: wrap;
        text-align: center;
    }
    .footer .conteiner .logo{
        width: 100%;
    }

    .footer .conteiner .links{
        width: 100%;
        padding: 30px 0px;
    }

    .footer .conteiner .contato{
        width: 100%;
        padding: 10px 0px 30px 0px;
    }

    .footer .conteiner .download-footer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .footer .conteiner .download-footer a img{
        margin: 0px 30px;
    }

    .contato-home .conteiner .content form{
        width: 100%;
    }

    .contato-home .conteiner .content form .button{
        width: 100px;
        margin-top: 5px;
    }   

    .contato-home .conteiner .content form .button input{
        width: 300px;
    }

    .contato-home .conteiner .content{
        flex-wrap: wrap;
    }

    .contato-home .conteiner .content .foto{
        margin: 0px auto;
    }
}

@media (max-width: 971px){
    .planos-home .conteiner .content-2 .destaque .infos-plano-2 p{
        padding: 30px 60px;
    }
}

@media (max-width: 572px){
    .contato-home .conteiner .content form .button input{
        width: 100px;
    }

    .sobre-home .conteiner .foto{
        width: auto;
    }
    .made-by{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .sobre-home .conteiner .text .icones .icon-destaque{
        border: none;
    }

    .sobre-home .conteiner .text .icones .icon img{
        margin: 0px 10px;
    }

    .como-funciona .conteiner .title h1{
        font-size: 30px;
    }

    .como-funciona .conteiner{
        width: 90%;
    }

    .conteiner{
        width: 90% !important;
    }

    .planos-home .conteiner .title h1{
        font-size: 30px;
    }

}

@media (max-width: 372px){
    .sobre-home .conteiner{
        width: 90%;
    }
}


.menu-section{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}



@media (max-width: 1010px){

    nav{
        display: none;
    }  
    
    .redes-header{
        display: none;
    }
    
    .menu-section{
        width: 65px;
        position: absolute;
        top: 10px;
        right: 0;
    }

    .one, .two , .three{
        background-color: #2D4377;
        height: 5px;
        width: 100%;
        margin: 6px auto;

        transition-duration: 0.3s;
        
    }
    .menu-toggle{
        width: 40px;
        height: 30px;
        margin-right: 25px;
        margin-top: 10px;
    }

    /*fullscren */
    .menu-section.on{
        position: absolute;
        top: 0;
        right: 0;

        width: 100vw;
        height: 100vh;
        background-color: white;

        z-index: 10;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: 0.2s;

    }

    .menu-section.on nav {
        display: block;
    }

    .menu-section.on .menu-toggle {
        position: absolute;
        right: 0;
        top: 10px;
    }

    .menu-section.on .menu-toggle .one{
        transform: rotate(45deg) translate(7px, 7px);
    }

    .menu-section.on .menu-toggle .two{
        opacity: 0;
    }

    .menu-section.on .menu-toggle .three{
        transform: rotate(-45deg) translate(8px, -9px);
    }


    .menu-section.on .nav-bar nav ul {
        display: inline-block;
        text-align: center;
    }

    .menu-section.on .nav-bar nav ul li{
        margin: 20px 0px;
    }

    .menu-section.on .nav-bar nav ul li .destaque{
        font-size: 25px;
    }

    .menu-section.on .nav-bar nav ul li a{
        padding: 10px 0px; 
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 25px;
    }

    

    .menu-section.on .nav-bar .redes-header-mobile{
        display: block;
    }



    .menu-section.on .nav-bar .redes-header-mobile ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-section.on .nav-bar .redes-header-mobile ul li{
        list-style: none;
        margin: 10px 5px;
    }

    .menu-section.on .nav-bar .redes-header-mobile ul li a{
        color: #002C61;
        text-decoration: none;
        padding: 2px 5px;
        font-size: 30px;
        transition: 0.3s linear;
    }
    
}


@media (max-width: 936px){
    .download .conteiner{
        flex-wrap: wrap;
    }
    .download .conteiner .content{
        width: 85%;
    }

    .download .conteiner .content .buttons{
        flex-direction: row;
        justify-content: center;
    }

    .download .conteiner .content .buttons a{
        margin: 0px 10px;
    }

    .download .conteiner .foto img{
        margin: 0;
    }
}


@media (max-width: 526px){

    .contato-home .conteiner .content .foto{
        width: 300px;
    }

    .sobre-home .conteiner{
        width: 80%;
    }

    .farmacias .button .botao p{
        width: 90%;
    }

    .farmacias .button .botao{
        background-color: #002C61;
        width: 90%;
        margin: 0px auto;
        border-radius: 10px;
        
    }

    .bnt-1{
        background-color: none;
    }

    .farmacias .button .botao a{
        background-color: transparent;
        margin: 0;
        text-align: center;
        width: 100%;
        
    }


    .sobre-home .conteiner .text{
        padding-left: 0;
    }
    .banner .conteiner .foto img{
        width: 320px;
        height: auto;
    }

    .sobre-home .conteiner .foto img{
        width: 320px;
        height: auto;
    }
    .contato-home .conteiner .content .foto img{
        width: 260px;
        height: auto;
    }

    .contato-home .conteiner .content form .button input{
        width: 200px;
    }

    .depoimentos .conteiner .title h1{
        font-size: 33px;
    }

    .beneficios .conteiner .content .box{
        width: auto;
        min-width: auto;
        
    }

    .footer .conteiner .download-footer a img{
        width: 90px;
    }

    .banner .conteiner .text .button img{
        width: 100px;
    }

    .como-funciona .conteiner .content .coluna-centro .imagen-centro img{
        width: 300px;
        height: auto;
    }

    .como-funciona .conteiner .content .coluna-centro .imagen-centro{
        width: auto;
    }

    .download .conteiner .content .buttons{
        flex-wrap: wrap;
    }

    .download .conteiner .foto img{
        width: 260px;
    }

    .beneficios-planos{
        margin-top: 50PX;
    }
}